@model ElfsLeatherStore.Models.Supplier

@{
    ViewBag.Title = "Browse By Supplier";

    int no = 0;
}

<h3>Display products by supplier : @Model.Name</h3>

<table class="table table-striped">
    <tr>
        <th>No</th>
        <th>Product Name</th>
        <th>Color</th>
        <th>Material</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        no++;
        <tr>
            <td>@no</td>
            <td>@product.ProductName</td>
            <td>@product.Color</td>
            <td>@product.Material</td>
            <td style="text-align:right;">
                @String.Format("{0:N0}", product.Price)
            </td>
            <td style="text-align:right">@product.Stock</td>
        </tr>
    }
</table>



